<h1>Hello, and welcome to your discount voucher and giftcard organiser</h1>
<br><br>
<form action='/login' method='post'>

<label for='email_address'>Your email address:</label>
  <input type='text' name='email' placeholder='Email Address'>
<br><br>
<label for='password'>Password:</label>
  <input type='password' name='password' placeholder='Password'>
<br><br>

<input type='submit' value='Log In'>
</form> 